<div class="profileContainer">

    <div class="profileContent " *ngIf="settingComponent">
        <div>
            <div class="text-spacing col-12 col-lg-12 float-left row">
                <div class="col-6 col-lg-3 col-md-4 col-sm-5">
                    <b>Company Name</b>:
                </div>
                <div class="col-6 col-lg-9 col-md-8 col-sm-7">
                    {{this.vendorInformation.company_name}}
                </div>
            </div>

            <div class="text-spacing col-12 col-lg-12 float-left row">
                <div class="col-6 col-lg-3 col-md-4 col-sm-5">
                    <b>Contact Person Name</b>:
                </div>
                <div class="col-6 col-lg-9 col-md-8 col-sm-7">
                    {{this.vendorInformation.name}}
                </div>
            </div>

            <div class="text-spacing col-12 col-lg-12 float-left row">
                <div class="col-6 col-lg-3 col-md-4 col-sm-5">
                    <b>Total Amount ( ₹ )</b>:
                </div>
                <div class="col-6 col-lg-9 col-md-8 col-sm-7">
                    {{totalAmount}}
                </div>
            </div>

            <div class="text-spacing col-12 col-lg-12 float-left row">
                <div class="col-6 col-lg-3 col-md-4 col-sm-5">
                    <b>Amount Received ( ₹ )</b>:
                </div>
                <div class="col-6 col-lg-9 col-md-8 col-sm-7">
                    {{amountRecieved}}
                </div>
            </div>

            <div class="text-spacing col-12 col-lg-12 float-left row">
                <div class="col-6 col-lg-3 col-md-4 col-sm-5">
                    <b>Amount Remaining ( ₹ )</b>:
                </div>
                <div class="col-6 col-lg-9 col-md-8 col-sm-7">
                    {{amountRemaining}}
                </div>
            </div>
            <button [disabled]="(amountRemaining == 0)" style="margin-left:1%;margin-bottom: 10px" (click)="addPaymentDetails()" type="button" class="btn btn-primary alignDeleteButton pull-right " ><i class="add-item-icon ion-plus-round"></i> Add Payment Details </button>
        </div>
        <div id="viewItems" class="smarttable" type="html">
            <ng2-smart-table [settings]="settings"
                             [source]="source"
                             (edit) = "editPaymentDetails($event)"
                             (delete)= "deletePayment($event)">
            </ng2-smart-table>
        </div>
        <div class="paginationControl">
            <div *ngFor='let data of itemList | paginate : { itemsPerPage: this.perPage, currentPage: current_page, id : "listItem", totalItems: totalCount }'></div>
            <pagination-controls class="pageControl" (pageChange)="getPageData($event)" id="listItem"
                                 nextLabel="Next">
            </pagination-controls>
        </div>
    </div>
</div>

<div class="confirmUserActiveContainer">
    <modal #deleteVendorModal [closeOnOutsideClick]="false">
        <modal-header>
            <div class="test"><span class="headerText">Are you sure you want to delete this Payment Detail?</span></div>
        </modal-header>
        <modal-content>
            <div class="confirmButtonsContainer">
                <div class="confirmButtons">
                    <div class="noButton">
                        <button class="noConfirm" (click)="deleteVendorModal.close()">No</button>
                    </div>
                    <div class="yesButton">
                        <button class="yesConfirm" (click)="deletePaymentFinal()">Yes</button>
                    </div>
                </div>
            </div>
        </modal-content>
    </modal>
</div>

<div class="confirmUserActiveContainer">
    <modal #addPaymentModal (onClose)="paymentModalClose()" [closeOnOutsideClick]="false">
        <modal-header>
            <div class="test"><span class="headerText"><b> Add Payment Details </b></span></div>
        </modal-header>
        <modal-content>
            <div class="confirmButtonsContainer col-md-12 col-lg-12 col-12 col-sm-12">
                <div class="modal-body-data col-md-12 col-lg-12 col-12 col-sm-12 row">
                    <div class="col-md-6 col-lg-6 col-6 col-sm-6">
                        <label> PO Number </label>
                    </div>
                    <div class="col-md-6 col-lg-6 col-6 col-sm-6">
                        <input disabled placeholder="PO Number" [(ngModel)]="this.purchaseId" type="text" class="disabled form-control pull-left"/>
                    </div>
                </div>

                <div class="modal-body-data col-md-12 col-lg-12 col-12 col-sm-12 row">
                    <div class="col-md-6 col-lg-6 col-6 col-sm-6">
                        <label> Date </label>
                    </div>
                    <div class="col-md-6 col-lg-6 col-6 col-sm-6">
                        <my-date-picker [(ngModel)]="selectedDate" #datepicker
                                        placeholder="DD/MM/YYYY"
                                        name="mydate" [options]="myDateCron1PickerOptions" (dateChanged)="onDate1Changed($event)"required>
                        </my-date-picker>
                        <!--<input placeholder="Search Items" style="width: 200px;" [(ngModel)]="this.searchvalue" (ngModelChange)="changedItem($event)" type="text" class="disabled form-control pull-left"/>-->
                    </div>
                </div>

                <div class="modal-body-data col-md-12 col-lg-12 col-12 col-sm-12 row">
                    <div class="col-md-6 col-lg-6 col-6 col-sm-6">
                        <label> Payment Amount (₹) </label>
                    </div>
                    <div class="col-md-6 col-lg-6 col-6 col-sm-6">
                        <input [(ngModel)]="paymentAmount" [textMask]="{mask: numberMask,guide : false}" placeholder="Payment Amount" type="text" class="disabled form-control pull-left"/>
                    </div>
                </div>

                <div class="modal-body-data col-md-12 col-lg-12 col-12 col-sm-12 row">
                    <div class="col-md-6 col-lg-6 col-6 col-sm-6">
                        <label> Payment Mode </label>
                    </div>
                    <div class="col-md-6 col-lg-6 col-6 col-sm-6">
                        <select [(ngModel)]="paymentMode" (change)="getPayMode($event)" style="width: 100%;" class="form-control selectBox">
                            <option value="0" disabled selected>Payment Mode</option>
                            <option value="3"> Cash </option>
                            <option value="1"> Cheque</option>
                            <option value="2"> Online Transfer</option>
                        </select>
                        <!--<input placeholder="Search Items" style="width: 200px;" [(ngModel)]="this.searchvalue" (ngModelChange)="changedItem($event)" type="text" class="disabled form-control pull-left"/>-->
                    </div>
                </div>
                <div style="margin: 0; width: 100%" class="col-md-12 col-lg-12 col-12 col-sm-12 confirmButtons">
                    <div class="noButton">
                        <button class="noConfirm" (click)="paymentModalClose()">Cancel</button>
                    </div>
                    <div class="yesButton">
                        <button [ngClass]="{'disableSubmit' : !(showMeButton && this.paymentAmount && dateNew && this.paymentMode && (paymentAmount != 0) && (paymentAmount <= amountRemaining)) }" [disabled]="!(showMeButton && this.paymentAmount && (paymentAmount != 0) &&  dateNew && this.paymentMode && (paymentAmount <= amountRemaining))" class="yesConfirm" (click)="addPaymentFinal()">Add</button>
                    </div>
                </div>
            </div>
        </modal-content>
    </modal>
</div>

<div class="confirmUserActiveContainer">
    <modal #editPaymentModal [closeOnOutsideClick]="false">
        <modal-header>
            <div class="test"><span class="headerText"><b> Edit Payment Details </b></span></div>
        </modal-header>
        <modal-content>
            <div class="confirmButtonsContainer col-md-12 col-lg-12 col-12 col-sm-12">
                <div class="modal-body-data col-md-12 col-lg-12 col-12 col-sm-12 row">
                    <div class="col-md-6 col-lg-6 col-6 col-sm-6">
                        <label> PO Number </label>
                    </div>
                    <div class="col-md-6 col-lg-6 col-6 col-sm-6">
                        <input disabled placeholder="PO Number" [(ngModel)]="this.purchaseId" type="text" class="disabled form-control pull-left"/>
                    </div>
                </div>

                <div class="modal-body-data col-md-12 col-lg-12 col-12 col-sm-12 row">
                    <div class="col-md-6 col-lg-6 col-6 col-sm-6">
                        <label> Date </label>
                    </div>
                    <div class="col-md-6 col-lg-6 col-6 col-sm-6">
                        <my-date-picker [selDate]="this.dateEdit" #datepicker
                                        placeholder="DD/MM/YYYY"
                                        name="mydate" [options]="myDateCron1PickerOptions" (dateChanged)="onDate1ChangedEdit($event)"required>
                        </my-date-picker>
                        <!--<input placeholder="Search Items" style="width: 200px;" [(ngModel)]="this.searchvalue" (ngModelChange)="changedItem($event)" type="text" class="disabled form-control pull-left"/>-->
                    </div>
                </div>

                <div class="modal-body-data col-md-12 col-lg-12 col-12 col-sm-12 row">
                    <div class="col-md-6 col-lg-6 col-6 col-sm-6">
                        <label> Payment Amount (₹) </label>
                    </div>
                    <div class="col-md-6 col-lg-6 col-6 col-sm-6">
                        <input [(ngModel)]="this.paymentAmountEdit" [textMask]="{mask: numberMask,guide : false}" placeholder="Payment Amount" type="text" class="disabled form-control pull-left"/>
                    </div>
                </div>

                <div class="modal-body-data col-md-12 col-lg-12 col-12 col-sm-12 row">
                    <div class="col-md-6 col-lg-6 col-6 col-sm-6">
                        <label> Payment Mode </label>
                    </div>
                    <div class="col-md-6 col-lg-6 col-6 col-sm-6">
                        <select [(ngModel)]="this.selectedMode" style="width: 100%;" class="form-control selectBox">
                            <option value="" disabled selected>Payment Mode</option>
                            <option value="3"> Cash </option>
                            <option value="1"> Cheque</option>
                            <option value="2"> Online Transfer</option>
                        </select>
                        <!--<input placeholder="Search Items" style="width: 200px;" [(ngModel)]="this.searchvalue" (ngModelChange)="changedItem($event)" type="text" class="disabled form-control pull-left"/>-->
                    </div>
                </div>
                <div style="margin: 0; width: 100%" class="col-md-12 col-lg-12 col-12 col-sm-12 confirmButtons">
                    <div class="noButton">

                        <button class="noConfirm" (click)="editPaymentModal.close()">Cancel</button>
                    </div>
                    <div class="yesButton">
                        <button [ngClass]="{'disableSubmit' : !(showMeButton && this.paymentAmountEdit && this.selectedMode && (paymentAmountEdit != 0) && (paymentAmountEdit <= amountRemaining))}" [disabled]="!(showMeButton && (paymentAmountEdit != 0) && this.paymentAmountEdit && (paymentAmount <= amountRemaining) && this.selectedMode)" class="yesConfirm" (click)="editPaymentFinal()">Edit</button>
                    </div>
                </div>
            </div>
        </modal-content>
    </modal>
</div>