<div class="profileContainer">

    <div class="profileContent " *ngIf="settingComponent">
        <div>
            <!--<input placeholder="Search Items" style="width: 200px;" [(ngModel)]="this.searchvalue" (ngModelChange)="changedItem($event)" type="text" class="form-control pull-left"/>-->
            <button style="margin-left:1%;margin-bottom: 10px" (click)="addItemLocation()" type="button" class="btn btn-primary alignDeleteButton pull-right " ><i class="add-item-icon ion-plus-round"></i> Add Almirah </button>
        </div>
        <div id="viewItems" class="smarttable" type="html">
            <ng2-smart-table [settings]="settings"
                             [source]="source"
                             (edit) = "editItemLocation($event)"
                             (delete)= "deleteItemLocation($event)">
            </ng2-smart-table>
        </div>
        <div class="paginationControl">
            <div *ngFor='let data of almirahList | paginate : { itemsPerPage: this.perPage, currentPage: current_page, id : "listItem", totalItems: totalCount }'></div>
            <pagination-controls class="pageControl" (pageChange)="getPageData($event)" id="listItem"
                                 nextLabel="Next">
            </pagination-controls>
        </div>
    </div>
</div>

<div class="confirmUserActiveContainer">
    <modal #deleteVendorModal [closeOnOutsideClick]="false">
        <modal-header>
            <div class="test"><span class="headerText">Are you sure you want to delete Almirah?</span></div>
        </modal-header>
        <modal-content>
            <div class="confirmButtonsContainer">
                <div class="confirmButtons">
                    <div class="noButton">
                        <button class="noConfirm" (click)="deleteVendorModal.close()">No</button>
                    </div>
                    <div class="yesButton">
                        <button class="yesConfirm" (click)="deleteItemLocationFinal()">Yes</button>
                    </div>
                </div>
            </div>
        </modal-content>
    </modal>
</div>